                                      ASSIGNMENT: MONGODB+PYTHON

Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use 
MongoDB over SQL databases?

MongoDB:
MongoDB is an database of 'No structured query language' in which we can stored the data without any limitation of rows and columns.It gives us accessibilty to acesses limitless the databases and collections.

Non-realtional databases:
As in Sql we have only a eligibilty to store the data in rows and columns, which are pre-defined by us. And there are neccesasry relation between rows and columns. But in MongoDB we stored the data in free scheme, in the form of dictnory(Json), where evry data has their specific key value and no any connection with the other data.

MongoDB and SQL:
As we understood above thar sql is a structered query language and only stored the structered data as in the form of rows and columns.But in MongoDB we can store the data, which is non structered. So for storing the image and video files we use the MongoDB.

```````````````````````````````

Q2. State and Explain the features of MongoDB.

In MongoDB There are many features like
- In MongoDB we can store schama less data, so we are free to stored the data as we want, we dont need to find the realtion amoung them.
- it stored documents instead of tables. Every data has their own key value.
- indexing is applicable in MongoDB. so it gives the fast output while searching.
- The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.
- we can also store the images and video files in the MongoDb

~~~~~~~~~~~~~~~~~~~~

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [26]:

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://rahul:rahul@cluster0.yp2t4kq.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [27]:
data= {"name":"Rahul Gupta", 
"Course": "Data science masters", 
"Teacher":"Sudhanshu"}

In [28]:
# 'details' is the name of the data base
db= client['details']

In [31]:
# 'my_record is the name of collection'
collection= db["my_records"]

In [30]:

collection.insert_one(data)

~~~~~~~~~~~~~~~~~~

Q4. Using the database and the collection created in question number 3, write a code to insert one record, 
and insert many records. Use the find() and find_one() methods to print the inserted record

In [33]:
data1={"name":"rahul",
"class":"ds",
"phone no":344800}

In [36]:
data2=[ 
       {"name":"papu","phone number":938439303},
       {"name":"sumit","phone number":20933950},
       {"name":"ram bharose", "phone number":984783},
       {"name": "munni thakur","phone nuber":53890322}
       ]

In [37]:
#inserting one record
collection.insert_one(data1)

In [38]:
#inserting many records
collection.insert_many(data2)

In [39]:
#using find_one() for printing single data
collection.find_one(data)

{'_id': ObjectId('64c768ad694abafe6ece24c8'),
 'name': 'Rahul Gupta',
 'Course': 'Data science masters',
 'Teacher': 'Sudhanshu'}

In [47]:
#using find() for printing any data from data base
collection.find(data1)

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to 
demonstrate this.

By using find() method we can find or print any query from database in our console.Further, We can trying to understand the cocept along with the code.

In [58]:
#if we want print the whole data from a collection we simply use curly braces in the the input as below
collection.find({})

<pymongo.cursor.Cursor object at 0x7fa27d612100>

In [96]:
#now here we itreate the data by for loop so that it can be visible in our console
for i in collection.find({}):
  print(i)

{'_id': ObjectId('64c768ad694abafe6ece24c8'), 'name': 'Rahul Gupta', 'Course': 'Data science masters', 'Teacher': 'Sudhanshu'}
{'_id': ObjectId('64c76d1c694abafe6ece24c9'), 'name': 'rahul', 'class': 'ds', 'phone no': 344800}
{'_id': ObjectId('64c76d3a694abafe6ece24ca'), 'name': 'papu', 'phone number': 938439303}
{'_id': ObjectId('64c76d3a694abafe6ece24cb'), 'name': 'sumit', 'phone number': 20933950}
{'_id': ObjectId('64c76d3a694abafe6ece24cc'), 'name': 'ram bharose', 'phone number': 984783}
{'_id': ObjectId('64c76d3a694abafe6ece24cd'), 'name': 'munni thakur', 'phone nuber': 53890322}

In [56]:
#if we want to search a specific data from the database than we write the keyname and keyvalue as below
collection.find({"name":"papu"})

In [98]:
#for showing in colsole we can itrate the data by for loop.
for i in collection.find({"name":"papu"}):
    print(i)

{'_id': ObjectId('64c76d3a694abafe6ece24ca'), 'name': 'papu', 'phone number': 938439303}

~~~~~~~~~~~~~~~~~~

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB

It returns the documents in sorted order. For returing in asending order we use 1 and for descending -1 along with the keyname of the value. as showns below:

In [136]:
"""here we make a new data base and collection for run such opreations. new data base name is 'umar' which we can
call by name db1 in code. new collection name is 'umar_records' which we can call by collection1 in code"""

data3=[
    {"name":"raja ram badayi", "age":67},
    {"name": "seth dhannu","age":69},
    {"name":"lajwati","age":16}
]

In [137]:
db1=client['umar']

In [138]:
collection1= db1["umar_records"]

In [139]:
collection1.insert_many(data3)

In [159]:
collection1.find().sort("age",1)

In [160]:
#for showing the results in console we can iterate this by for loop.

for i in collection1.find().sort("age",1):
    print(i)

{'_id': ObjectId('64c774dd694abafe6ece24d3'), 'name': 'lajwati', 'age': 16}
{'_id': ObjectId('64c77671694abafe6ece24d6'), 'name': 'lajwati', 'age': 16}
{'_id': ObjectId('64c77b45694abafe6ece24d9'), 'name': 'lajwati', 'age': 16}
{'_id': ObjectId('64c78079694abafe6ece24dc'), 'name': 'lajwati', 'age': 16}
{'_id': ObjectId('64c774dd694abafe6ece24d1'), 'name': 'raja ram badayi', 'age': 67}
{'_id': ObjectId('64c77671694abafe6ece24d4'), 'name': 'raja ram badayi', 'age': 67}
{'_id': ObjectId('64c77b45694abafe6ece24d7'), 'name': 'raja ram badayi', 'age': 67}
{'_id': ObjectId('64c78079694abafe6ece24da'), 'name': 'raja ram badayi', 'age': 67}
{'_id': ObjectId('64c774dd694abafe6ece24d2'), 'name': 'seth dhannu', 'age': 69}
{'_id': ObjectId('64c77671694abafe6ece24d5'), 'name': 'seth dhannu', 'age': 69}
{'_id': ObjectId('64c77b45694abafe6ece24d8'), 'name': 'seth dhannu', 'age': 69}
{'_id': ObjectId('64c78079694abafe6ece24db'), 'name': 'seth dhannu', 'age': 69}

Q7. Explain why delete_one(), delete_many(), and drop() is used

In [126]:
                                         #delete_one()
#For deleting a single data from a collection we use delete_One()
collection.delete_one(data)
#Now if we referesh the mongodb database, there are no any "data" in the collection 'my_records'

In [133]:
#for confirmation we can chek the 'data' in the collection.
for i in collection.find({}):
    print(i)

{'_id': ObjectId('64c76d1c694abafe6ece24c9'), 'name': 'rahul', 'class': 'ds', 'phone no': 344800}
{'_id': ObjectId('64c76d3a694abafe6ece24ca'), 'name': 'papu', 'phone number': 938439303}
{'_id': ObjectId('64c76d3a694abafe6ece24cb'), 'name': 'sumit', 'phone number': 20933950}
{'_id': ObjectId('64c76d3a694abafe6ece24cc'), 'name': 'ram bharose', 'phone number': 984783}
{'_id': ObjectId('64c76d3a694abafe6ece24cd'), 'name': 'munni thakur', 'phone nuber': 53890322}

In [134]:
#see, there are not any 'data' value

In [143]:
                                  #delete_many()

#we use delete_many() for removing multiple values
data2

[{'name': 'papu',
  'phone number': 938439303,
  '_id': ObjectId('64c76d3a694abafe6ece24ca')},
 {'name': 'sumit',
  'phone number': 20933950,
  '_id': ObjectId('64c76d3a694abafe6ece24cb')},
 {'name': 'ram bharose',
  'phone number': 984783,
  '_id': ObjectId('64c76d3a694abafe6ece24cc')},
 {'name': 'munni thakur',
  'phone nuber': 53890322,
  '_id': ObjectId('64c76d3a694abafe6ece24cd')}]

In [149]:
collection.delete_many({"name": "munni thakur"})

In [163]:
                                #drop()
"""drop() is a method in PyMongo used to remove an entire collection from the database.
It will completely remove the collection, including all documents and indexes associated with it.
Use this method with caution because once you drop a collection, it cannot be recovered, and all data in that
 collection will be lost."""

collection1.drop()